body {
  font-family: 'Roboto Slab', serif;
}

.profile {
  padding: 100px 40px 0;
  display: flex;
  justify-content: center;
}

.wrapper {
  max-width: 600px;
}

.header {
  text-align: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}

.header > p {
  color: #6c757d!important;
}

.projects {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border-bottom: 1px solid #eee;
}

.projects > h2 {
  font-weight: 300;
  text-align: center;
  margin-bottom: 24px;
}

.project {
  display: flex;
  padding-bottom: 20px;
}

.project > img {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  align-self: flex-start;
  margin-top: 10px;
}

.project-info {
  padding: 10px;
}

.project-info > h5 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}

.project-info > h6 {
  margin: 0;
  color: lightslategray;
  flex-wrap: wrap;
}

.project-info > p {
  margin: 0;
  color: lightslategray;
  flex-wrap: wrap;
}

.project-info > p > span {
  font-weight: bolder;
}

.project-info > p:first-child {
  font-size: 12px !important;
}

.username {
  font-weight: bolder;
}

.footer {
  padding: 20px 0 20px 0;
  color: #6c757d;
  font-size: 12px;
}